<html>
	<head>
		<title>Welcome to Ansible</title>
	</head>
	<body>
		<h1>Nginx, configured by Ansible</h1>

		<p>If you can see this, Ansible successfully install Nginx!</p>

		<p>Running on {{ inventory_hostname }} </p> 
	</body>
</html>
